[data-theme="dark"] header {
  background: linear-gradient(135deg, #394d9e, #641396);
}

[data-theme="dark"] .sun-icon,
[data-theme="dark"] .moon-icon {
  fill: white;
  color: white;
}

header {
  background: linear-gradient(
    135deg,
    var(--primary-color),
    var(--secondary-color)
  );
  color: white;
  padding: 3rem 1rem;
  text-align: center;
  box-shadow: var(--shadow-md);
  position: relative;
  overflow: hidden;
}

header::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(
    circle,
    transparent 20%,
    rgba(255, 255, 255, 0.05) 20%,
    rgba(255, 255, 255, 0.05) 30%,
    transparent 30%,
    transparent
  );
  animation: backgroundAnimation 30s linear infinite;
  z-index: 1;
}

header h1,
header p {
  position: relative;
  z-index: 2;
}

header h1 {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  font-weight: 800;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  letter-spacing: -0.5px;
}

header p {
  font-size: 1.1rem;
  opacity: 0.9;
  max-width: 600px;
  margin: 0 auto;
}

.theme-toggle {
  position: absolute;
  top: 20px;
  right: 30px;
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 10;
}

.theme-label {
  font-size: 14px;
  font-weight: 500;
  color: white;
}

.theme-icon {
  font-size: 1.2rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.4s;
}

.sun-icon,
.moon-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.3s ease;
  z-index: 3;
  width: 18px;
  height: 18px;
  fill: rgb(20, 16, 16);
  color: rgb(14, 10, 10);
  pointer-events: none;
}

.sun-icon {
  left: 7px;
  opacity: 1;
}

.moon-icon {
  right: 7px;
  opacity: 0;
}
input:checked + .slider .sun-icon {
  opacity: 0;
}

input:checked + .slider .moon-icon {
  opacity: 1;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.4s;
  z-index: 2;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--accent-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--accent-color);
}

input:checked + .slider:before {
  transform: translateX(30px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.github-links {
  position: absolute;
  top: 90px;
  right: 30px;
  display: flex;
  gap: 15px;
  z-index: 10;
}

.github-links a {
  color: white;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.github-links a:hover {
  opacity: 1;
}
